@font-face {
	font-family: 'matrix';
	src: url('../assets/ScreenMatrix.ttf');
}

@font-face {
	font-family: 'mono';
	src: url('../assets/Mono.ttf');
}

html
	width 100%
	height 100%
	padding 0
	margin 0
body
	width 100%
	height 100%
	margin 0
	padding 0
	background #eeeeff
	#main
		width 100%
		height 100%
		position fixed
		top 0
		left 0
		z-index 1

	#bg
		background -moz-linear-gradient(bottom,  #c6caff 0%, #ffeee9 100%)
		background -webkit-linear-gradient(bottom,  #c6caff 0%,#ffeee9 100%)
		background linear-gradient(bottom top,  #c6caff 0%,#ffeee9 100%)
		mix-blend-mode multiply
		position fixed
		width 100%
		height 100%
		z-index 9
	#intro
		text-rendering geometricPrecision
		width 100%
		left 0
		// margin-left -300px
		height 100%
		position fixed
		z-index 10
		color #ffffff
		font-family mono
		&.webvr
			#screen4
				.copy
					.option
						&.o2
							display block
							margin-left -40px
		&.cardboard
			#screen4
				.copy
					.option
						&.o1
							display block
						&.o2
							display block
							margin-left 55px
		&.desktop
			#screen4
				.copy
					.option
						&.o3
							display block
							margin-left -40px

		.screenHolder
			opacity 0
			transform translate3d(0px,10px,0px)
			transition opacity 2s, transform 1s;
			top 50%
			left 0
			position absolute
			width 100%
			margin-top -80px
			text-align center
			font-size 12px
			&.active
				transform translate3d(0px,0px,0px)
				opacity 1
			#title
				color #ffffff
				font-size 59px
				position relative
				top 20px
				transform translate3d(0px,0px,0px)
			.over
				position relative
				top -38px
				left 150px
				transform translate3d(0px,0px,0px)
			.copy
				background #ff0000
				line-height 14px
				transform translate3d(0px,0px,0px)
				.loading
					opacity 0
					transform translate3d(0px,0px,0px)
					&.active
						opacity 1
			&#screen2
				#gaze
					position absolute
					width 100%
					top 0
					left 0
					height 34px
					background url(../assets/gaze.png) center center no-repeat
					background-size auto 34px
				#target
					position absolute
					width 100%
					top 0
					left 0
					height 15px
					background url(../assets/target.png) center center no-repeat
					background-size auto 15px
					opacity 1
			&#screen3
				#prizes
					position absolute
					width 100%
					top -45px
					left 0
					height 106px
					background url(../assets/prizes.png) center center no-repeat
					background-size auto 106px
			&#screen4
				.copy
					.option
						position absolute
						left 50%
						color white
						text-decoration none
						display none
						img
							position absolute
							left 50%
							margin-left -41px
							top 0
							margin-top - 55px
						&.o1
							margin-left -180px
						&.o2
							margin-left 55px
						&.o3
							img
								top -30px
		#loader
			width 100px
			height 100px
			position absolute
			left 50%
			top 50%
			margin-left -50px
			margin-top -50px
	#mode-button
		position absolute
		z-index 20
		bottom 30px
		left 40px
		float left
		width 40px
		height 25px
		background url(../assets/mode-button.png) no-repeat 0 0
		background-size 40px 100px
		cursor pointer
		display none
		opacity 0.001
		&.cardboard
			background-position 0 0
		&.phone
			background-position 0 -25px
		&.pointerlock
			background-position 0 -50px
		&.drag
			background-position 0 -75px
	#audio-toggle
		position absolute
		z-index 20
		bottom 30px
		right 40px
		float: left
		width: 25px
		height: 25px
		text-indent -9999px
		will-change opacity, transform
		transform translate3d( 0, 0px, 0 )
		background url(../assets/audio.png) no-repeat 0 0
		background-size 25px 50px
		background-position 0 -25px
		cursor pointer
		display none
		opacity 0.001
		&.playing
			background-position 0 0
