doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #main
    #bg
    #intro.screen1
        #screen1
            #title SKI JUMP
            .over VR
            .copy(style='white-space:pre;')
                | --------------------------------------
                | Get speed, jump high, collect gifts, have fun!
        //- #screen2
        //-     #title SKI JUMP
        //-         .over VR
        //-     #copy Get speed, jump high, collect gifts, have fun!
        canvas#loader
    a#start-button
    a#mode-button
    script(src='js/scripts/timbre.js')
    script(src='js/main.js')