doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title #{title}
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body
    #main
    #intro
      a(href='javascript:void(0)')#skipbut SKIP
      #screen1.screenHolder
          #title SKI JUMP
          .over VR
          .copy(style='white-space:pre;')
              | --------------------------------------
              | Get speed, jump high, collect gifts, have fun!
              |&nbsp;
              |&nbsp;
              |&nbsp;
              .loading loading
      #screen2.screenHolder
          #gaze
          #target
          #title &nbsp
          .copy(style='white-space:pre;')
              | --------------------------------------
              | TRY KEEPING YOUR GAZE ON TARGET
              | WHILE DESCENDING TO GAIN SPEED
      #screen3.screenHolder
          #prizes
          #title &nbsp
          .copy(style='white-space:pre;')
              | --------------------------------------
              | WHEN ARIBORN, CATCH AS MANY GIFTS
              | AS POSSIBLE TO EARN POINTS
      #screen4.screenHolder
          #title &nbsp
          .copy(style='white-space:pre;')
              a(href='javascript:void(0)')#start-button1.option.o1
                  | ---------
                  .defcopy START
                  .altcopy START SINGLE SCREEN
                  img(src='assets/phoneicon.png', width='82')
              a(href='javascript:void(0)')#start-button2.option.o2
                  | ---------
                  .defcopy START
                  .altcopy START VR VERSION
                  img(src='assets/vricon.png', width='82')
              a(href='javascript:void(0)')#start-button3.option.o3
                  | ---------
                  .defcopy START!
                  img(src='assets/metal.png', width='82')
      canvas#loader
    #mode-button
    #audio-toggle.playing
    script(src='js/scripts/timbre.js')
    script(src='js/main.js')